<p class="lead">My Gallery</p>

<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Farm</th>
    <th>Server</th>
    <th>Flickr ID</th>
    <th>Secret</th>
    <th></th>
  </tr>
  <% @photos.each do |photo| %>
    <tr>
      <td><%= photo.id %></td>
      <td><%= photo.farm %></td>
      <td><%= photo.server %></td>
      <td><a href="<%= photo.url %>"><%= photo.flickr_id %></a></td>
      <td><%= photo.secret %></td>
      <td class="text-right">
        <a href="#" class="btn btn-danger btn-xs">Delete</a>
      </td>
    </tr>
  <% end %>
</table>