<% if @photos && @photos.size > 0 %>
  <p class="text-muted">Displaying first 100 images.</p>
  <div class="row">
  <% @photos.each do |photo| %>
    <div class="col-xs-6 col-sm-3 col-md-15">
      <a href="#" class="thumbnail">
        <img src="<%= Photo.thumbnail(photo) %>" class="img-url" alt="">
      </a>
      <%= form_for @photo, url: { action: 'create' }, remote: true do |f| %>
        <%= f.hidden_field :farm, value: photo.farm %>
        <%= f.hidden_field :server, value: photo.server %>
        <%= f.hidden_field :flickr_id, value: photo.id %>
        <%= f.hidden_field :secret, value: photo.secret %>
        <% if Photo.in_gallery?(photo.id) %>
          <a href="#" class="btn btn-success btn-sm btn-block btn-save">Saved</a>
        <% else %>
          <button type="submit" class="btn btn-default btn-sm btn-block btn-save" data-id="<%= photo.id %>">
            Save
          </button> 
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<% elsif !@photos %>
  <div class="alert alert-warning">Please, search for some text.</div>
<% else %>
  <div class="alert alert-warning">Sorry, but we could not find any images related to "<%= params[:q] %>".</div>
<% end %>


