<!DOCTYPE html>
<html>
  <head>
    <title>FlickrSearch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content" class="container">
      <a href="/">
        <%= image_tag 'flickr_logo.png', class: 'img-responsive img-logo' %>
      </a>
      <a href="#" class="pull-right btn btn-default">My Gallery</a>
      <div class="clearfix"></div>
      <form action="<%= search_photos_path %>" method="GET" role="form" id="form-search">
        <div class="form-group">
          <div class="input-group input-group-lg">
            <input type="text" class="form-control" name="q" placeholder="Search for images..." value="<%= params[:q] %>">
            <span class="input-group-btn">
              <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </button>
            </span>
          </div>
        </div>
      </form>
      <%= yield %>
      <div id="footer" class="well">
        &copy; 2017 Junior Grossi<br>
        Project developed in RubyOnRails 5<br>
        Source code: <a href="http://github.com/jgrossi/flickr_search">github.com/jgrossi/flickr_search</a>
      </div>
    </div>
  </body>
</html>
